
*{
margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(255, 0, 42, 0.72);
}
.logo{
  margin-left: 60px;
  width: 450px;
}
.plane{
  margin-right: 60px;
}

body{
font-family: "Arial Rounded MT Bold";
text-align: center;
}
.grid-container{
position: absolute;
left: 37%;
margin: 50px 0 50px 0;
}
.seating-grid{
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.seat{
  font-size: 10px;
  color: #464646;
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: #cecece;
  /* background-color: #fc002a; this will be the color after seat has been chosen*/
  border-radius: 20%;
  opacity: 70%;
}
.seat:hover{
   background-color: #fc002a;
}
button{
  position: absolute;
  text-transform: uppercase;
  background-color: rgba(255, 0, 42, 0.5);
  font-weight: bold;
  height: 25px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(255, 0, 42, 0.5);
  left: 10px;
  bottom: -35px; /* disguusting hack to keep the button relative to this shitty seating display */
  width:80px;
}
button:hover{
  transform: translate(1px,-1px);
  box-shadow: -2px 5px 6px rgb(50, 49, 49, 0.4);
  transition: .2s;
}
